body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h2 {
    background: #ffcc00;
    padding: 15px;
    margin: 0;
}

form {
    padding: 15px;
    background: #f4f4f4;
}

input {
    padding: 10px;
    margin: 10px;
    width: 300px;
}

button {
    padding: 10px 20px;
    background: #ffcc00;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#map {
    height: 500px;
    width: 100%;
    margin-top: 20px;
}

